# environment variables
.env

# pyc files could contain compiled secrets
*.pyc

# geckodriver log
geckodriver.log

# secrets folder
secrets/

# Apple
.DS_Store
**/.DS_Store

# test
.cache
.pytest_cache/

# env
env/
